.mainTitle {
  display: flex;
  justify-content: center;
  height: 5em;
  align-items: center;
  font-size: 3em;
}

.secondaryTitle {
  color: rgb(255, 255, 255);
  font-size: 2.7em;
  background-color: rgba(255, 255, 255, 0.3);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
}